<% layout('layouts/boilerplate')%>

<div class="max-w-4xl mx-auto">
	<h1 class="text-3xl font-semibold">Overview</h1>

	<% for (const camp of campgrounds) { %>
	<div class="flex sm:flex-row flex-col gap-x-9 overflow-hidden mt-8">
		<img class="w-full md:w-96 sm:w-64 sm:h-72 sm:object-cover rounded-lg" src="<%=camp.image%>" alt="" />
		<div class="sm:border-none sm:pb-0 border-b pb-5 pt-2">
			<h1 class="text-2xl"><%= camp.title%></h1>
			<h3 class="mt-1 text-sm"><%= camp.location%></h3>
			<p class="mt-2 text-xs text-gray-500 leading-5"><%= camp.description.substr(0, 255)%></p>
			<a class="text-sm text-white rounded-md inline-block mt-4 px-4 py-2 bg-blue-500 hover:bg-blue-600" href="/campgrounds/<%=camp.id%>">See Camp</a>
		</div>
	</div>
	<% } %>
</div>
