<% layout('layouts/boilerplate')%>
<div class="max-w-4xl mx-auto px-5">
	<a class="underline color text-blue-500 mb-5 block" href="/campgrounds">Go back to overview</a>
	
	<div class="flex justify-between items-end">
		<div>
			<h1 class="font-semibold text-3xl"><%= camp.title %></h1>
			<h2 class="font-semibold text-lg">in <%= camp.location %></h2>
		</div>
		<h1 class="text-3xl font-semibold">€<%= camp.price %> <span class="font-normal text-sm text-gray-400">p.day</span></h1>
	</div>
	<img class="block mt-5 rounded-lg w-full max-h-96 object-bottom object-cover" src="<%= camp.image%>" alt="" />
	<p class="mt-5 font-medium text-xs"> Submitted by:<span class="text-blue-600"> <%= camp.author.username %></span></p>
	<h3 class="mt-2 font-bold text-lg">About the camp</h3>
	<p class="mt-5 leading-7 text-sm pb-5"><%= camp.description%></p>

	<% if(user && camp.author.equals(user._id)) { %>
		<a class="text-sm text-white rounded-md inline-block mt-4 px-4 py-2 bg-orange-400 hover:bg-orange-500" href="/campgrounds/<%= camp.id %>/edit">Edit campground</a>
		<form class="inline-block" action="/campgrounds/<%= camp.id %>?_method=DELETE" method="POST">
			<button class="text-sm text-white rounded-md inline-block mt-4 px-4 py-2 bg-red-500 hover:bg-red-600">Delete campground</button>
		</form>
	<%}%>
</div>


<div class="bg-stone-100 mt-10 py-10">
	
	<% if(user) { %>
	<!-- Reviews: Form -->
	<form id="reviewCampgroundForm" class="max-w-4xl mx-auto px-5 pb-10" action="/campgrounds/<%= camp.id %>/reviews" method="POST" novalidate>
		<h1 class="text-3xl mb-5">Drop a review!</h1>
		<div class="mb-5">
			<p class="text-xl font-medium mb-3 block star-block" for="rating">Rating</p>
			<!-- Rating -->
			<div class="peer flex flex-row-reverse justify-end items-cente flex-wrap">
				<input required id="rating-1" type="radio" class="peer -ms-5 size-5 bg-transparent border-0 text-transparent cursor-pointer appearance-none checked:bg-none focus:bg-none focus:ring-0 focus:ring-offset-0 block" name="review[rating]" value="5" />
				<label for="rating-1" class="peer-checked:text-yellow-400 peer-hover:text-yellow-400 text-gray-300 pointer-events-none">
					<svg class="shrink-0 size-5" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" viewBox="0 0 16 16">
						<path
							d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.282.95l-3.522 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z"
						></path>
					</svg>
				</label>
				<input required id="rating-2" type="radio" class="peer -ms-5 size-5 bg-transparent border-0 text-transparent cursor-pointer appearance-none checked:bg-none focus:bg-none focus:ring-0 focus:ring-offset-0" name="review[rating]" value="4" />
				<label for="rating-2" class="peer-checked:text-yellow-400 peer-hover:text-yellow-400 text-gray-300 pointer-events-none">
					<svg class="shrink-0 size-5" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" viewBox="0 0 16 16">
						<path
							d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.282.95l-3.522 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z"
						></path>
					</svg>
				</label>
				<input required id="rating-3" type="radio" class="peer -ms-5 size-5 bg-transparent border-0 text-transparent cursor-pointer appearance-none checked:bg-none focus:bg-none focus:ring-0 focus:ring-offset-0" name="review[rating]" value="3" />
				<label for="rating-3" class="peer-checked:text-yellow-400 peer-hover:text-yellow-400 text-gray-300 pointer-events-none">
					<svg class="shrink-0 size-5" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" viewBox="0 0 16 16">
						<path
							d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.282.95l-3.522 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z"
						></path>
					</svg>
				</label>
				<input required id="rating-4" type="radio" class="peer -ms-5 size-5 bg-transparent border-0 text-transparent cursor-pointer appearance-none checked:bg-none focus:bg-none focus:ring-0 focus:ring-offset-0" name="review[rating]" value="2" />
				<label for="rating-4" class="peer-checked:text-yellow-400 peer-hover:text-yellow-400 text-gray-300 pointer-events-none">
					<svg class="shrink-0 size-5" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" viewBox="0 0 16 16">
						<path
							d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.282.95l-3.522 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z"
						></path>
					</svg>
				</label>
				<input required id="rating-5" type="radio" class="peer -ms-5 size-5 bg-transparent border-0 text-transparent cursor-pointer appearance-none checked:bg-none focus:bg-none focus:ring-0 focus:ring-offset-0" name="review[rating]" value="1" />
				<label for="rating-5" class="peer-checked:text-yellow-400 peer-hover:text-yellow-400 text-gray-300 pointer-events-none">
					<svg class="shrink-0 size-5" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" viewBox="0 0 16 16">
						<path
							d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.282.95l-3.522 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z"
						></path>
					</svg>
				</label>
				<p class="hidden [.validated_&]:peer-invalid:block px-2 mt-2 text-xs text-red-500 self-end basis-full">please provide a rating</p>
			</div>
			<!-- End Rating -->
		</div>

		<div>
			<label class="text-xl font-medium mb-3 block" for="review">review</label>
			<textarea required class="peer rounded ring-1 focus:ring-2 ring-blue-500 w-full px-2 py-2 text-gray-500 [.validated_&]:invalid:ring-red-500" id="review" name="review[review]" type="text"></textarea>
			<p class="hidden [.validated_&]:peer-invalid:block px-2 mt-1 text-xs text-red-500">please provide a review</p>
		</div>

		<button class="text-sm text-white rounded-md inline-block mt-8 px-4 py-2 bg-green-500 hover:bg-green-600">submit review</button>
	</form>
	<% } %>

	<!-- Reviews: Display -->
	<div class="max-w-4xl mx-auto px-5">
		<h1 class="text-xl mb-5 font-semibold">Reviews:</h1>
		<% if(!camp.reviews.length) {%> 
			<p class="italic">No reviews yet for this campground</p>
		<% } else {%> 
		<%for(let review of camp.reviews) {%>
		<div class="mx-8 x review mb-5 border-b pb3 last:mb-0 last:border-none bg-gray-200 p-5 rounded-lg relative flex justify-between align-middle">
			<div>
				<p class="mb-3 font-medium text-xs"> Review by:<span class="text-blue-600"> <%= review.author.username %></span></p>
				<div class="flex mb-2">
					<%for(let i = 1; i <= 5; i++ ) { %>
					<div class="text-<%=(i <= review.rating) ? 'yellow' : 'gray' %>-300">
						<svg class="shrink-0 size-5" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" viewBox="0 0 16 16">
							<path
								d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.282.95l-3.522 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z"
							></path>
						</svg>
					</div>
					<%}%>
				</div>
				<p class="italic"><%= review.review%></p>
			</div>
				<% if(user && review.author.equals(user._id)) { %>
			<form class="flex flex-col justify-around" method="POST" action="/campgrounds/<%= camp.id %>/reviews/<%= review.id %>?_method=DELETE">
				<button class="text-xs text-white rounded-md inline-block px-2 py-2 bg-red-500 hover:bg-red-600">Delete</button>
			</form>
				<%}%>
		</div>
		<%}}%>
	</div>
</div>

<script>
	const form = document.getElementById("reviewCampgroundForm");
	
	if(form) {
		form.addEventListener("submit", (e) => {
			if (!form.checkValidity()) {
				e.preventDefault();
				e.stopPropagation();
			}
			form.classList.add("validated");
		});
	}	
</script>
